<h1 class="ui center aligned icon header">Lists</h1>
<%= link_to 'Add List', new_board_list_path(@board)	 %> |
<%= link_to 'Back to Boards', boards_path %>
<hr />

<% @lists.each do |list| %>
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui card">
          <h3><%= list.name %></h3>
            <div class="extra content">
              <div class = "ui three buttons">
                <%= link_to "View", list_tasks_path(list), class: "ui inverted blue button" %>
                <%= link_to "Edit", edit_board_list_path(@board, list), class: "ui inverted green button" %>
                <%= link_to "Delete", board_list_path(@board, list), method: :delete, class: "ui inverted red button" %>
              </div>
            </div>
      </div>
    </div>
  </div>
<% end %>